.App {
  text-align: center;
  background-color: RGBA(245,245,245,0.6);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
____________Intolerance List CONTAINER____________
*/

.intolerance-list{
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
}



.intolerance-list-item{
  list-style-type: none;
  background-color: RGBA(245,245,245,0.8);
  border: 2px solid #ccc;
  border-radius: 10px;
    flex: 0 0 100px; /*  No stretching: */
    justify-content: center;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.intolerance-list-item:hover{
  background-color: RGBA(250,250,210,0.8);

}




/*
____________NAV BAR CONTAINER____________
*/

.nav-bar {

  background-color: RGBA(245,245,245,0.8);
  padding-bottom: 10px;
}


/*
____________RECIPE CONTAINER____________
*/

.recipe-container {
  background-color: RGBA(245,245,245,0.8);
  border: 2px solid silver;
  border-radius: 16px;

  flex-direction: column;
    padding: 0px 10px 0px 0px;
    max-width: 1200px;
}

.recipe-instructions{
  display: inline;
  text-align: justify;
}



.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.recipe-container-image-and-directions{
  flex: 100%;
  padding: 10px 10px 10px;
  max-width: 800px;
}

.recipe-container img {
  max-width: 300px;
  max-height: 300px;
    margin: 10px 10px 10px 0;
    transition: max-width 1s, max-height 1s, transform 1s;
}

.recipe-container img:hover {

  max-width: 100%;
  max-height: 100%;
  margin: 10px 10px 10px 0;
}

#id{
  flex-shrink: 0;
}

#floated{
  float:left
}

.ingredients{
  flex: 30%;
  border: 3px solid blue;
  padding: 10px 10px 10px;
  max-width: 400px;
}

/*
____________LIST OF RECIPES____________
*/

.list-of-recipes{
  background-color: RGBA(245,245,245,0.8);
  border: 2px solid #9EC3E6;
  border-radius: 16px;
  max-width: 200px;
  text-align: left;

}

.list-of-recipes h2{
  text-align: center;
}

.list-of-recipes ul{
  list-style-type: none;
}

.list-of-recipes li{
  list-style-type: none;
}

.list-of-recipes p{
  list-style-type: none;
  margin-left: 25px;
}

/*
____________MAIN CONTAINER____________
*/

.main-container { border-collapse: collapse; }
#list-of-recipes {

  width: 20%;
  padding-left: 25px;
  vertical-align: top;
}
#recipes-container {
  width: 80%;
  background: #ccc;
}


/*
____________INGREDIENT LIST CONTAINER____________
*/

.ingredient-list-outer-container{
  background-color: #EFF5FB;

  border: 2px solid #9EC3E6;
  border-radius: 16px;
  max-width: 500px;
  margin-left: 30px;
}

.ingredient-list-container {
  max-height: 500px;
  overflow: auto;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .ingredient-list-header h2{
   padding-left: 50px;
   float:left;
 }
 .ingredient-list-header h3{
   padding-right: 50px;
   float:right;
 }

.ingredient-list-item {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 16px;
    flex: 0 0 150px; /*  No stretching: */
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .ingredient-list-item h4{
    line-height: 1em;
    height: 1.5em;
}

.ingredient-list-item p{
  line-height: 1em;
  height: 1em;
}

  .ingredient-list-item-image-container{
    display: grid;
    place-items: center;
    width: 110px;
    height: 110px;
    margin: auto;
    /* border: 3px solid #73AD21; */
  }

.ingredient-list-item-image-container img{
  max-width: 120px;
  max-height: 120px;
  margin: auto;
}

/*
____________TBC CONTAINER____________
*/
